---
layout: base
---
 
<head>
  <link rel="stylesheet" href="/TeensyStep/assets/css/myStyle.css">
</head>

{% assign classFile = page.data %}

<div class="test">   

  {% for chapter in page.chapters %}     
    <a href="#{{ chapter.anchor }}">{{ chapter.name }} </a> 
    {%- if forloop.last == false  %}| {% endif %}
  {%- endfor %} 

</div>  
<div class="classHeader"> {{ page.className }} - Class Reference </div> 
<div class="test2">  #include "{{ page.includeFile }}" </div>

{{ content }}

{% for chapter in page.chapters %} 
<h2><a id={{ chapter.anchor }}></a> {{ chapter.name }}</h2>


{% for method in chapter.methods %} 
  <div style="margin-bottom: 1rem" >
    <div class="codeDisplay">
      <!-- {{ method.returnType }} <a href="{{ method.name }}">{{ method.name }}</a>(       -->
      {{ method.returnType }} {{ method.name }}(      
      {%- for param in method.parameter %} 
        {{- param.type}} {{ param.name }}
        {%- if forloop.last == false  %}, {% endif %}
      {%- endfor %}) 
    </div>
    <div class="smallTxt"> {{ method.shortDesc | markdownify}} </div>
  </div>
{%- endfor %} 

{%- endfor %} 

<!-- ------------------------------------------------ -->
<!-- <h1><a id="Reference"></a> Reference</h1>

{% for chapter in page.chapters %} 
  {% for method in chapter.methods %} 
    {{ method.name }} <br>
  {%- endfor %} 
{%- endfor %}  -->




